<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fruit Fresh Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>


	<!--content-->
	<div class="content">
		
	<!--products-->
		<div class="about">
			<div class="about-top">
				<h1>About</h1>
				<p>This is  the About page of Mandy's shop </p>
			</div>
			<div class="about-middle">
				<div class="col-md-5">
					<img class="img-responsive" src="assets/ab.jpg" />
				</div>
				<div class="col-md-7 mid-about">
					<p>You can get the fresh and healthy products on our website. We wish you have a good experience with our website. We will try our best to provide the best service.  </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="about-bottom">
				<div class="col-md-4 bottom-about">
					<h2>Our Advantages</h2>
					<h4>The following is our advantages</h4>
					<ul>
						<li><a href="#"><i ></i> We have the good price of products.</a></li>
						<li><a href="#"><i ></i> Our products have good quality. </a></li>
						<li><a href="#"><i ></i> We organize different interesting events from time to time. </a></li>
						<li><a href="#"><i ></i> We provide cash on delivery service</a></li>
						
					</ul>
					<a class="hvr-bounce-to-top" href="#">Read More</a>
				</div>
			<div class="col-md-8 use-bottom">
				<h3>Health Benefits of Fruit</h3>
				<div class="our">
					<div class="col-md-6 our-at">
						<a href="single.html"><img class="img-responsive" src="assets/ab1.jpg" alt=""></a>
						<h4>Fruit has been recognized as a good source of vitamins and minerals, and for their role in preventing vitamin C and vitamin A deficiencies. </h4>
						<p>People who eat fruit as part of an overall healthy diet generally have a reduced risk of chronic diseases. USDA's MyPlate encourages making half your plate fruits and vegetables for healthy eating.Fruit are important sources of many nutrients, including potassium, fiber, vitamin C and folate (folic acid). Try incorporating blueberries, citrus fruit, cranberries or strawberries which contain phytochemicals that are being studied for added health benefits. </p>
						<a class="hvr-bounce-to-top" href="#">Read More</a>
					</div>
					<div class="col-md-6 our-at">
						<a href="single.html"><img class="img-responsive" src="assets/ab2.jpg" alt=""></a>
						<h4>The nutrients in fruit are vital for health and maintenance of your body. The potassium in fruit can reduce your risk of heart disease and stroke. </h4>
						<p>Potassium may also reduce the risk of developing kidney stones and help to decrease bone loss as you age.Folate (folic acid) helps the body form red blood cells. Women of childbearing age who may become pregnant and those in the first trimester of pregnancy need adequate folate. Folate helps prevent neural tube birth defects, such as spina bifida.

</p>
						<a class="hvr-bounce-to-top" href="#">Read More</a>
					</div>
					
				<div class="clearfix"> </div>
			</div>
			</div>
			<div class="clearfix"></div>
			</div>
		</div>
			<!--//products-->
		
			
			
	</div>
	<!--//content-->
	
</div>
</body>
</html>