<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fruit Fresh Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>


	<!--content-->
	<div class="content">
		
	<!--products-->
		<div class="about">
			<div class="about-top">
				<h1>About</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
			</div>
			<div class="about-middle">
				<div class="col-md-5">
					<img class="img-responsive" src="assets/ab.jpg" />
				</div>
				<div class="col-md-7 mid-about">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
				But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
				But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="about-bottom">
				<div class="col-md-4 bottom-about">
					<h2>Our Advantages</h2>
					<h4>Nertyase riti masertas lertyarty tsaera delases kuhasasety</h4>
					<ul>
						<li><a href="#"><i ></i> There are many variations of passages.</a></li>
						<li><a href="#"><i ></i> Lorem Ipsum is not simply random text.</a></li>
						<li><a href="#"><i ></i> There are many variations of passages.</a></li>
						<li><a href="#"><i ></i> The standard chunk of Lorem Ipsum.</a></li>
						<li><a href="#"><i ></i> There are many variations of passages.</a></li>
						<li><a href="#"><i ></i> Lorem Ipsum is not simply random text.</a></li>
						<li><a href="#"><i ></i> The standard chunk of Lorem Ipsum.</a></li>
						<li><a href="#"><i ></i> There are many variations of passages.</a></li>
						<li><a href="#"><i ></i> Lorem Ipsum is not simply random text.</a></li>
						<li><a href="#"><i ></i> The standard chunk of Lorem Ipsum.</a></li>
						
					</ul>
					<a class="hvr-bounce-to-top" href="#">Read More</a>
				</div>
			<div class="col-md-8 use-bottom">
				<h3>Our Works</h3>
				<div class="our">
					<div class="col-md-6 our-at">
						<a href="single.html"><img class="img-responsive" src="assets/ab1.jpg" alt=""></a>
						<h4>Vaesales aserasaset kuys leruytas nuyasa lerras miertase dertasuas</h4>
						<p>Nertyase riti masertas lertyarty tsaera delases kuhasasety kertya aset aplicbo neras faeskes kertys muyts ersvitae miertase dertasuas.</p>
						<a class="hvr-bounce-to-top" href="#">Read More</a>
					</div>
					<div class="col-md-6 our-at">
						<a href="single.html"><img class="img-responsive" src="assets/ab2.jpg" alt=""></a>
						<h4>Vaesales aserasaset kuys leruytas nuyasa lerras miertase dertasuas</h4>
						<p>Nertyase riti masertas lertyarty tsaera delases kuhasasety kertya aset aplicbo neras faeskes kertys muyts ersvitae miertase dertasuas.</p>
						<a class="hvr-bounce-to-top" href="#">Read More</a>
					</div>
					
				<div class="clearfix"> </div>
			</div>
			</div>
			<div class="clearfix"></div>
			</div>
		</div>
			<!--//products-->
		<!--events-->
		<div class="content-mid">
				<h3> Events</h3>
				<div class="news">
					<div class="col-md-6 new-more">
						<div class="six">
						<h4>26<span>June</span></h4>
					</br>
						<h6><a href="#">Sed ut perspiciatis unde omnis </a></h6>
						<div class="clearfix"> </div>
						</div>
						<p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
					<a class="hvr-bounce-to-top" href="#">Read More</a>
					</div>
					<div class="col-md-6 new-more">
						<div class="six">
						<h4>26<span>April</span></h4>
						</br>
						<h6><a href="#">Voluptatem accusantium doloremque </a></h6>
						<div class="clearfix"> </div>
						</div>
						<p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
					<a class="hvr-bounce-to-top" href="#">Read More</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!--//events-->
			
			
	</div>
	<!--//content-->
	
</div>
</body>
</html>