<!--footer-->
	<div class="footer">
		<!--newsletter-->
			<div class="newsletter">
				<h3>Newsletter</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
				<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="SUBSCRIBE">
					</form>
			</div>
			<!--//newsletter-->
			<div class="footer-top-top">
				<div class="col-md-4 footer-top">
					<ul class="social">
												
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="#"><i class="google"> </i></a></li>
					</ul>
				</div>
				
				<div class="col-md-4 footer-top">
					<p>19 Lismore Park, Waterford</p>
					<p>+087 399 6192</p>
				</div>
				<div class="col-md-4 footer-top">
					 <p class="footer-class">Copyright &copy; 2015.Company name All rights reserved.</p>
			 	</div>
			 	<div class="clearfix"> </div>
			</div>
		</div>
			<!--//footer-->